* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  .hero h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 40px;
  }
  
  .hero h1 span {
    color: #ff2962;
  }
  
  textarea {
    width: 100%;
    max-width: 600px;
    height: 250px;
    color: white;
    background: #403d84;
    border: 0;
    outline: 0;
    padding: 20px;
    font-size: 15px;
    resize: none;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  #textarea{
    padding: 20px;
  }
  textarea::placeholder {
    font-size: 16px;
    color: #ddd;
  }
  
  .row {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding-top: 15px;
  }
  
  .row select {
    width: 100%;
    /* max-width: 200px; */
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: black;
  }
  

  .btm{
    background-color: #ff2963;
    color: #fff;
    font-size: 20px;
    padding: 5px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 35px;
    display: flex;
    align-items: center;
  }
  
  button i {
    margin-right: 10px;
  }
  